<mat-toolbar>
    <div class="navbar">
      <div class="login">
        <ng-container *ngIf="!!user">
          <span *ngIf="!!user?.name" class="display-name">היי {{ user?.name }}</span> |
          <span class="logout" (click)="logout()">התנתק</span>
        </ng-container>

        <ng-container *ngIf="!user">
          <a class="nav-link" [routerLink]="'/login'">התחבר</a>
          <mat-icon>account_box</mat-icon>
        </ng-container>
      </div>

      <div class="navbar-links">
        <ul>
          <ng-container *ngIf="!!user">
            <li>
                <a [routerLink]="'/profile'">איזור אישי</a>
            </li>
            <li>
              <a [routerLink]="'/incidents'">אירועים</a>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="logo">
        <img [src]="logo" class="logo-img" [routerLink]="'/incidents'" />
      </div>
    </div>
</mat-toolbar>

<div class="toolbar-divider"></div>