<app-toolbar></app-toolbar>

<div class="main-section" [@fadeInOnEnter]>
    
    <h1>{{incident?.name}}</h1>

    <div class="dashboard-container">
        <div class="dashboard-container--right">
            <div class="dashboard-item">
                <p>אנשי קשר</p>
                <strong [countUp]="contacts" [options]="countUpOptions"></strong>
            </div>
            <div class="dashboard-item">
                <p>בתהליך</p>
                <strong [countUp]="pending" [options]="countUpOptions"></strong>
            </div>
            <div class="dashboard-item">
                <p>כישלון חיוג</p>
                <strong [countUp]="failed" [options]="countUpOptions"></strong>
            </div>
            <div class="dashboard-item">
                <p>דחית שיחה</p>
                <strong [countUp]="declined" [options]="countUpOptions"></strong>
            </div>
            <div class="dashboard-item">
                <p>קבלת הודעה</p>
                <strong [countUp]="received" [options]="countUpOptions"></strong>
            </div>
            <div class="dashboard-item">
                <p>אחוז קבלה</p>
                <strong [countUp]="successRate" [options]="countUpOptions"></strong>
            </div>
        </div>
        <div class="dashboard-container--left">
            <canvas baseChart class="dashboard-container__canvas" [data]="chartData" [labels]="chartLabels"
                [chartType]="chartType" [plugins]="chartPlugins" [options]="chartOptions" [colors]="chartColors">
            </canvas>
        </div>
    </div>

    <h1 class="excel-title">סטטוס קבלה</h1>

    <table id="excel-table" mat-table [dataSource]="messagesDataSource">
        <ng-container matColumnDef="toPhone">
            <th mat-header-cell *matHeaderCellDef> נמען </th>
            <td mat-cell *matCellDef="let message"> {{message.receiver}} - {{message.toPhone}} </td>
        </ng-container>

        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef> קבוצה </th>
            <td mat-cell *matCellDef="let message"> {{message.group}} </td>
        </ng-container>
    
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> דרך העברת ההודעה </th>
            <td mat-cell *matCellDef="let message"> {{message.type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> סטטוס </th>
            <td mat-cell *matCellDef="let message">
                <div class="status">
                    <mat-spinner *ngIf="message.status === MessageStatus.PENDING" 
                        color="warn">
                    </mat-spinner>
                    <span>{{message.status}}</span>
                </div> 
            </td>
        </ng-container>

        <ng-container matColumnDef="messageCount">
            <th mat-header-cell *matHeaderCellDef> כמות הודעות שנשלחו </th>
            <td mat-cell *matCellDef="let message"> {{message.messageCount}} </td>
        </ng-container>

        <ng-container matColumnDef="lastMessageSendDate">
            <th mat-header-cell *matHeaderCellDef> זמן שליחת הודעה אחרונה </th>
            <td mat-cell *matCellDef="let message"> {{message.lastMessageSendDate | date:'HH:mm:ss dd/MM/yyyy'}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="messagesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: messagesColumns;"></tr>
    </table>

    <button class="resend-btn" mat-raised-button (click)="resend()" color="primary" 
        [disabled]="!failed && !declined">
        שלח הודעה בשנית
    </button>

    <button class="new-message-btn" mat-raised-button (click)="newMessage()" color="primary">
        הפצת הודעה נוספת
    </button>

    <button class="report-btn" mat-raised-button (click)="report()" color="accent">
        הורד דו״ח
    </button>

    <button class="submit-btn" mat-raised-button (click)="complete()" color="warn">
        סיים אירוע
    </button>
</div>

<mat-card *ngIf="isLoading" class="mat-progress-spinner">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="70"></mat-progress-spinner>
</mat-card>
