<app-toolbar></app-toolbar>

<div class="main-section header" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <h1 class="display-name">היי {{ user.name }}</h1>
</div>

<div class="main-section section" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <button mat-raised-button [routerLink]="'/dashboard'" color="primary">dashboard</button>
    <button mat-raised-button [routerLink]="'/profile'" color="primary">profile</button>
    <button mat-raised-button [routerLink]="'/warning-notifications/history'" color="primary">warning notifications history</button>
    <button mat-raised-button [routerLink]="'/warning-notifications'" color="primary">warning notifications</button>
</div>